<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input  v-model="message">
</div>

<div id="app-7">
    <ol >
        <todo-item  v-for="item in todos" v-bind:todo="item"  v-bind:key="item.id"></todo-item>
    </ol>
</div>

<div id="app">
    <app-nav></app-nav>
    <app-view>
        <app-sidebar></app-sidebar>
        <app-content></app-content>
    </app-view>
</div>

<div id="app-8">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>

<!-- 完整语法 -->
<a v-bind:href="url">...</a>

<!-- 缩写 -->
<a :href="url">...</a>

<!-- 完整语法 -->
<a v-on:click="doSomething">...</a>

<!-- 缩写 -->
<a @click="doSomething">...</a>

<!--计算属性-->
<!--计算属性是基于它们的响应式依赖进行缓存的。只在相关响应式依赖发生改变时它们才会重新求值。这就意味着只要 message 还没有发生改变，多次访问 reversedMessage 计算属性会立即返回之前的计算结果，而不必再次执行函数-->
<!--不要滥用watch-->
<div id="app-9">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
    <p>reversed message use method: "{{ reversedMessageMethod() }}"</p>
</div>

<!--------------------------------------------------->
<!--------------class and style---------------------->
<!--------------------------------------------------->
<div id="app-10"
     class="static"
     :class="{ active: isActive, 'text-danger': hasError }"
>style and class</div>

<!--classObject 是一个计算属性-->
<div id="app-11"
     :class="classObject">style and class</div>

<!--为什么 s 不是 color,fontsize?-->
<div id="app-12"
     :style="styleObject">
    <div v-for="s in styleObject">
        {{ s }}
    </div>
</div>
<div id="app-13">
    <li v-for="n in evenNumbers">{{ n }}</li>
</div>

<div id="app-14">
    <ul>
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li class="divider" role="presentation"></li>
        </template>
    </ul>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: false
        }
    })
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ]
        }
    })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    app5.$watch('message', function (newValue, oldValue) {
        console.info(oldValue+" change to "+newValue)
    })

    var app6=new Vue({
        el:'#app-6',
        data: {
            message: 'hello world'
        }
    })
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    })
    var app7=new Vue({
        el:'#app-7',
        data:{
            todos:[
                {id:1,text:'learn js'},
                {id:2,text:'learn nodejs'},
                {id:3,text:'learn vue.js'}
            ]
        }
    })


    var msg={
        message: 'Hello Vue.js!'
    };
    Object.freeze(this.msg);
    var app8 = new Vue({
        el: '#app-8',
        data: msg,
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    var app9=new Vue({
        el:'#app-9',
        data:{
            message:'hello world!'
        },
        computed:{
            reversedMessage:function () {
                return this.message.split('').reverse().join('')
            }
        },
        methods:{
            reversedMessageMethod:function () {
                return this.message.split('').reverse().join('')
            }
        }
    })

    var app10=new Vue({
        el:'#app-10',
        data:{
            isActive:true,
            hasError:false
        }
    })

    var app11=new Vue({
        el:'#app-11',
        data:{
            active:true,
            hasError:false
        },
        computed:{
            classObject:function () {
                return {
                    active:this.active&&!this.hasError,
                    'text-danger':this.hasError
                }
            }
        }
    })

    var app12=new Vue({
        el:'#app-12',
        data:{
            styleObject:{
                color: 'red',
                fontSize: '13px'
            }
        },
    })

    var app13=new Vue({
        el:'#app-13',
        data:{
            nums:[1,2,3,4,5,6]
        },
        computed:{
            evenNumbers:function () {
                return this.nums.filter(function (number) {
                    return number % 2 !== 0
                })
            }
        }
    });

</script>